<div class="awards">
     <p>
        <b>Malone Postdoctoral Fellowship</b>, Johns Hopkins University
        <span style="float:right;"><a>September 2025</a></span>
    </p>
    <p>
        <b>Computer Science Department Fellowship </b>, Johns Hopkins University
        <span style="float:right;"><a>September 2020</a></span>
    </p>

    <p>
        <b>Creel Family Engineering Fellowship</b>, Johns Hopkins University
        <span style="float:right;"><a>September 2020</a></span>
    </p>
    <p>
        <b>Fullbright scholarship</b>
        <span style="float:right;"><a>2018 – 2020</a></span>
    </p>
</div>
