<div class="my-posts">
     <p>
        <b>[Aging gracefully with AI](https://malonecenter.jhu.edu/aging-gracefully-with-ai/)</b>
        <span style="float:right;"><a>2025</a></span>
    </p>
    <p>
        <b>[Talking robots learn to manage human interruptions](https://www.cs.jhu.edu/news/talking-robots-learn-to-manage-human-interruptions/)</b>
        <span style="float:right;"><a>2025</a></span>
    </p>

     <p>
        <b>[Explain yourself: Designing AI for better human-machine teaming](https://malonecenter.jhu.edu/explain-yourself-designing-ai-for-better-human-machine-teaming/)</b>
        <span style="float:right;"><a>2025</a></span>
    </p>
    <p>
        <b>[Incorrect AI Advice Influences Diagnostic Decisions](https://www.rsna.org/media/press/i/2552)</b>
        <span style="float:right;"><a>2025</a></span>
    </p>
     <p>
        <b>[Alexa, should voice assistants have a gender?](https://hub.jhu.edu/2025/01/16/alexa-should-voice-assistants-have-a-gender/)</b>
        <span style="float:right;"><a>2025</a></span>
    </p>
     <p>
        <b>[Incorrect AI Advice Influences Diagnostic Decisions](https://www.rsna.org/media/press/i/2552)</b>
        <span style="float:right;"><a>2025</a></span>
    </p>
</div>
