<div class="my-posts">
     <p>
        <a href="https://malonecenter.jhu.edu/announcing-the-2025-malone-symposium-poster-session-awardees/" target="_blank" rel="noopener noreferrer">Malone Symposium Poster Session Awardees</a> 
        <span style="float:right;"><a>2025</a></span>
    </p>
     <p>
        <a href="https://malonecenter.jhu.edu/aging-gracefully-with-ai/" target="_blank" rel="noopener noreferrer">Aging gracefully with AI</a> 
        <span style="float:right;"><a>2025</a></span>
    </p>
    <p>
        <a href="https://www.cs.jhu.edu/news/talking-robots-learn-to-manage-human-interruptions/" target="_blank" rel="noopener noreferrer">Talking robots learn to manage human interruptions</a> 
        <span style="float:right;"><a>2025</a></span>
    </p>

     <p>
        <a href="https://malonecenter.jhu.edu/explain-yourself-designing-ai-for-better-human-machine-teaming/" target="_blank" rel="noopener noreferrer">Explain yourself: Designing AI for better human-machine teaming</a> 
        <span style="float:right;"><a>2025</a></span>
    </p>
    <p>
        <a href="https://www.rsna.org/media/press/i/2552" target="_blank" rel="noopener noreferrer">Incorrect AI Advice Influences Diagnostic Decisions</a> 
        <span style="float:right;"><a>2025</a></span>
    </p>
     <p>
        <a href="https://hub.jhu.edu/2025/01/16/alexa-should-voice-assistants-have-a-gender/" target="_blank" rel="noopener noreferrer">Alexa, should voice assistants have a gender?</a> 
        <span style="float:right;"><a>2025</a></span>
    </p>
</div>
