<div class="service">
    <p>
        <b>Reviewer:</b>, CHI'24 (special mention), HRI'21, CSCW'23, THRI, IJHCS, ICMI'20
    </p>

    <p>
        <b>Member of Robotics Graduate Student Association</b>, Johns Hopkins University
        <span style="float:right;"><a>2020 – 2024</a></span>
    </p>
    <p>
        <b>Organizer Lab Hackathon</b>, Organized hackathon for research group on integrating LLMs into voice assistants and robots
        <span style="float:right;"><a>Summer 2023</a></span>
    </p>
    <p>
        <b>Organizer Community Outreach Expo</b>, •	Organized a community outreach exhibition at a local [senior living center]{https://augsburgseniorliving.org/}
        <span style="float:right;"><a>Summer 2024</a></span>
    </p>
</div>
