<div class="talks">
     <p>
        <b>Designing Conversational Agents to Empower People and Promote Well-Being</b>
    </p>
    <p>
        Department of Computer Science, George Mason University
        <span style="float:right;"><a>May 2025</a></span>
        <br>
        Human-Computer Interaction (HCI) Brown Bag & CS Seminar, Johns Hopkins University
        <span style="float:right;"><a>April 2025</a></span>
        <br>
        Human-Centered AI Class, Northeastern University
        <span style="float:right;"><a>Feburary 2025</a></span>
    </p>
     <p>
        <b>Human-AI Interaction for Healthcare: Through the Lens of Radiology </b>
    </p>
    <p>
        Session: Bridging the Gap: Mitigating Bias, Building Trust, and Mastering Human-AI Collaboration at the Annual meeting of Society for Imaging Informatics in Medicine (SIIM)
        <span style="float:right;"><a>May 2025</a></span>
    </p>
</div>
