<div class="teaching">
    <p>
        <b>Teaching Assistant</b>, Johns Hopkins University
        <span style="float:right;"><a>Fall 2021</a></span>
    </p>

    <p>
        <b>Course Assistant</b>, Johns Hopkins University
        <span style="float:right;"><a>Spring 2020</a></span>
    </p>
    <p>
        <b>Journal Club Organizer</b>, Johns Hopkins University
        <span style="float:right;"><a>Summer 2020 – Spring 2020</a></span>
    </p>
    <p>
        <b>Student Mentor</b>, Johns Hopkins University
        <span style="float:right;"><a>2020 – Present</a></span>
    </p>
    <p>
        - Mentored 2 local high school students from Baltimore Area.<br>
        - Mentored 5 undergraduates, 1 graduate, and 2 PhD students at Johns Hopkins University.<br>
        - Currently mentoring 3 graduate students on research projects focused on health and well-being.
    </p>
</div>
