<div class="teaching">
     <p>
        <b>Course Instructor</b>, Human-Robot Interaction (EN.601.491/691) at Johns Hopkins University
        <span style="float:right;"><a>Spring 2025</a></span>
    </p>
    <p>
        <b>Teaching Assistant</b>, HRI and HCI courses at Johns Hopkins University
        <span style="float:right;"><a>2020, 2021</a></span>
    </p>

    <p>
        <b>Journal Club Organizer</b>, Intuitive COmputing Lab at Johns Hopkins University
        <span style="float:right;"><a>2020 – 2023</a></span>
    </p>
    <p>
        <b>Student Mentor</b>, Johns Hopkins University
        <span style="float:right;"><a>2020 – Present</a></span>
    
    <p>
        - Mentored 2 local high school students from Baltimore Area.<br>
        - Mentored 5 undergraduates, 1 graduate, and 2 PhD students at Johns Hopkins University.<br>
        - Currently mentoring 3 graduate students on research projects focused on health and well-being.
    </p>
    </p>
</div>
